footer {
  background: linear-gradient(to right, #9bb5f5ff, #0f0a39ff);
  color: #fff;
  text-align: center;
  padding: 30px 0;
  
  width: 100%;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

#logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.footer-table td {
  padding: 10px 40px;
}

.newsletter-input {
  padding: 5px 10px;
  border-radius: 4px;
  border: none;
}

.join-btn {
  padding: 5px 15px;
}

marquee {
  background: linear-gradient(to right, #0f0a39ff, #24272dff);
  color: white;
  font-weight: 500;
  margin-top: 20px;
}
