
.main-row {
  width: 85%;
  margin: 70px auto;
  border-radius: 25px;
  margin-left: 250px;
}

.amount-box {
  background: linear-gradient(135deg, #3b82f6, #9333ea);
  border-radius: 25px;
  box-shadow: 0 0 25px rgba(59, 130, 246, 0.5);
  color: white;
  width: 100%;
  padding: 50px 20px;
  backdrop-filter: blur(6px);
  transform: scale(1.02);
  transition: all 0.4s ease;
  text-align: center;
}

.amount-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 40px rgba(147, 51, 234, 0.6);
}

h3 {
  letter-spacing: 1px;
  opacity: 0.9;
}

h1 {
  font-size: 70px;
  font-weight: 800;
  margin: 15px 0;
}

p {
  font-size: 16px;
  opacity: 0.9;
}
