.bod {
      display: flex;
    }
    .sidebar {
      width: 250px;
      min-height: 100vh;
      background-color: #f8f9fa;
      border-right: 1px solid #ddd;
      padding: 20px;
       overflow-y: auto;         
      overflow-x: hidden;      
      position: fixed;        
    }
    .sidebar .logo {
      text-align: center;
      margin-bottom: 20px;
    }
    .sidebar img {
      border-radius: 50%;
    }
    .sidebar h4 {
      font-size: 22px;
      color: #16009e;
      margin-top: 10px;
    }
    .sidebar .nav-link {
      color: #05337e;
      margin: 5px 0;
      border-radius: 8px;
      padding: 10px;
      box-shadow: 2px 2px 4px #ddd;
    }
    .sidebar .nav-link:hover {
      background: #007bff;
      color: #fff;
    }
    .content {
      flex-grow: 1;
      padding: 20px;
    }
    
   