/* MAIN WRAPPER */
.homew-wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f5f7fb;
  min-height: 100vh;
}

.homew-container {
  width: 85%;
  margin: auto;
  background: #ffffff;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
}

/* TITLE */
.homew-title {
  text-align: center;
  margin-bottom: 25px;
}

.homew-title i {
  font-size: 34px;
  color: #1967d2;
  margin-right: 10px;
}

.homew-title h1 {
  font-size: 28px;
  font-weight: 700;
  color: #222;
}

/* ADD BUTTON */
.add-btn {
  background: #0abf53;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  transition: 0.2s;
}

.add-btn:hover {
  background: #079446;
}

/* TABLE DESIGN */
.custom-table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 12px;
}

.custom-table thead tr {
  background: linear-gradient(90deg, #003f9e, #1e88e5);
  color: white;
}

.custom-table thead th {
  padding: 14px;
  font-weight: 600;
  text-align: center;
  font-size: 14px;
}

.custom-table tbody tr {
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.07);
  transition: 0.2s;
}

.custom-table tbody tr:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.12);
}

.custom-table td {
  padding: 15px;
  text-align: center;
  font-size: 15px;
  color: #333;
}

/* BUTTONS */
.btn-view {
  background: linear-gradient(90deg, rgb(75, 255, 30), #320262);
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-view:hover {
   background: linear-gradient(90deg,#320262, rgb(75, 255, 30));
   box-shadow: 0 4px 10px rgba(30, 144, 255, 0.4);
   transform: translateY(-2px);
}

.btn-edit {
  background: linear-gradient(90deg, #ff6d1eff, #041f4e);
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-edit:hover {
  background: linear-gradient(90deg,#041f4e, #ff6d1eff);
  box-shadow: 0 4px 10px rgba(30, 144, 255, 0.4);
  transform: translateY(-2px);
}

.btn-delete {
  background: linear-gradient(90deg, rgb(250, 3, 3), #0c0c0c);
  border: none;
  color: white;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.btn-delete:hover {
  background: linear-gradient(90deg,#0c0c0c, rgb(250, 3, 3));
  box-shadow: 0 4px 10px rgba(30, 144, 255, 0.4);
  transform: translateY(-2px);
}
