/* Wrapper for the login page with background image */
.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  color: white;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom right, #4e2a84, #7b2cbf);
}

/* Stars / background image overlay */
.login-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 100%;
 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  z-index: 0;
}

.login-card {
  width: 400px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  position: relative;
  z-index: 1; 
}


.login-header {
  background: linear-gradient(to right, #d9288f, #8b5cf6);
  padding: 40px 20px;
  text-align: center;
  color: white;
}

.subtext {
  font-size: 14px;
  color: #ddd;
  margin: 2px 0;
}


.login-body {
  padding: 30px 20px;
  text-align: center;
}

.login-title {
  color: #6d28d9;
  margin-bottom: 20px;
}


.input-group {
  margin-bottom: 20px;
  position: relative;
}

.input-group input {
  width: 100%;
  padding: 12px 40px;
  border-radius: 25px;
  border: none;
  background: #f0f0f0;
}

.input-group i {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #888;
}

.checkbox-group {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.link-button {
  background: none;
  border: none;
  color: #6d28d9;
  text-decoration: underline;
  cursor: pointer;
  font: inherit;
  padding: 0;
}

/* Login button */
.login-btn {
  display: block;
  width: 100%;
  padding: 12px;
  border: none;
   background: linear-gradient(to right, #d328d9, #8b5cf6);
  color: white;
  border-radius: 25px;
  font-size: 16px;
  cursor: pointer;
}

.login-btn:hover {
  background: #5b21b6;
}
